#logo-box1 {
    width: 100%;
    background: #fff;
    .contener1 {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
        .logo-left {
            float: left;
        }
        .logo-right {
            float: right;
            margin-top: 26px;
            ul {
                padding-right: 26px;
                li {
                    float: left;
                }
                .logo-li1 {
                    .span1 {
                        float: left;
                        width: 35px;
                        height: 35px;
                        background: url("../img/carShop/liucheng_bg.png") no-repeat 0 -35px;
                        text-align: center;
                        line-height: 35px;
                        color: #fff;
                        font-size: 20px;
                    }
                    .span2 {
                        position: relative;
                        width: 75px;
                        height: 5px;
                        float: left;
                        margin-top: 15px;
                        i {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 75px;
                            height: 5px;
                            background: #00C8FF;
                        }
                    }
                }
                .logo-li2 {
                    .span3 {
                        position: relative;
                        width: 75px;
                        height: 5px;
                        float: left;
                        margin-top: 15px;
                        i {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 75px;
                            height: 5px;
                            background: #6c6c6c;
                        }
                    }
                    .span4 {
                        float: left;
                        width: 35px;
                        height: 35px;
                        background: url("../img/carShop/liucheng_bg.png") no-repeat 0 0;
                        text-align: center;
                        line-height: 35px;
                        color: #fff;
                        font-size: 20px;
                    }
                    .span5 {
                        position: relative;
                        width: 75px;
                        height: 5px;
                        float: left;
                        margin-top: 15px;
                        i {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 75px;
                            height: 5px;
                            background: #6c6c6c;
                        }
                    }
                }
                .logo-li3 {
                    .span6 {
                        position: relative;
                        width: 75px;
                        height: 5px;
                        float: left;
                        margin-top: 15px;
                        i {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 75px;
                            height: 5px;
                            background: #6c6c6c;
                        }
                    }
                    .span7 {
                        float: left;
                        width: 35px;
                        height: 35px;
                        background: url("../img/carShop/liucheng_bg.png") no-repeat 0 0;
                        text-align: center;
                        line-height: 35px;
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
            ol {
                li {
                    margin-top: 8px;
                    float: left;
                    width: 164px;
                    height: 14px;
                    margin-right: 4px;
                }
            }
        }
    }
}
//购物车
.content-main {
    width: 100%;
    background: #f6f6f3;
    overflow: hidden;
    .content-box {
        width: 960px;
        margin: 0 auto;
        margin-top: 20px;
        .box {
            width: 960px;
            background: #fff;
            overflow: hidden;
            padding: 60px 0 140px;
            .pic {
                float: left;
                width: 135px;
                height: 164px;
                margin-left: 110px;
            }
            .words {
                margin: 50px 0 0 50px;
                float: left;
                p {
                    font-size: 24px;
                    color: rgb(196, 196, 196);
                    margin-bottom: 10px;
                }
                .span1 {
                    display: inline-block;
                    font-size: 18px;
                    height: 36px;
                    line-height: 36px;
                }
                a {
                    width: 140px;
                    height: 36px;
                    line-height: 36px;
                    display: inline-block;
                    font-size: 20px;
                    text-align: center;
                    color: #fff;
                    background: #ff643c;
                    margin: 0 8px;
                }
                .span2 {
                    display: inline-block;
                    font-size: 18px;
                    height: 36px;
                    line-height: 36px;
                }
            }
        }
    }
    //sub轮播图
 #content-push-3 {
        height: 401px;
        width: 960px;
        margin: 20px auto;
        h2 {
            width: 960px;
            height: 24px;
            margin-bottom: 17px;
            span {
                float: left;
                width: 120px;
                height: 24px;
                margin-right: 12px;
                font-size: 18px;
            }
            i {
                font-style: normal;
                font-size: 18px;
                float: left;
            }
            .a1 {
                width: 101px;
                height: 14px;
                float: right;
                background: url("../img/index/bfd_logo_ch.png") no-repeat right 0;
            }
        }
        #content-push-g {
            height: 325px;
            width: 960px;
            overflow: hidden;
            position: relative;
            .content-push-ul {
                width: 3920px;
                height: 325px;
                position: relative;
                li {
                    float: left;
                    width: 225px;
                    height: 325px;
                    margin-right: 20px;
                    background: #fff;
                    img {
                        width: 225px;
                        height: 225px;
                    }
                    .content-push-ul-box{
                        width: 205px;
                        height: 89px;
                        padding: 11px 10px 0 10px;
                        margin: 0 auto;
                        .content-push-ul-p1 {
                            color: #6C6C6C;
                            font-size: 12px;
                            line-height: 20px;
                        }
                        .content-push-ul-p2 {
                            color: #FF643C;
                            font-size: 14px;
                            float: left;
                            margin-top: 10px;
                        }
                        .content-push-ul-p3 {
                            color: #FF643C;
                            font-size: 26px;
                            float: left;
                        }
//                      .content-push-ul-p4 {
//                          color: #6C6C6C;
//                          float: left;
//                          margin-top: 10px;
//                          margin-left: 6px;
//                      }
                        .content-push-ul-p5 {
                            background: #FF643C;
                            float: right;
                            width: 90px;
                            height: 26px;
                            text-align: center;
                            line-height: 26px;
                            a {
                                display: block;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            #btn1,
            #btn2 {
                height: 29px;
                width: 29px;
                background: black;
                opacity: 0.6;
                text-align: center;
                color: #fff;
                font-size: 20px;
                border: 0;
                cursor: pointer;
            }
            #btn1 {
                position: absolute;
                left: 0;
                top: 28%;
                margin-left: 10px;
            }
            #btn2 {
                position: absolute;
                right: 0;
                top: 28%;
                margin-right: 10px;
            }
        }
    }
}
