@landing-topcolor: #F2F2F2;
html,body{
    font-size: 14px;
}
//header开始
#landing-box{
    width: 100%;
    height: 30px;
    background-color: @landing-topcolor;
    border-bottom: 1px solid #e6e6e6;
    .contener{
        width: 960px;
        height: 30px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 30px;
        .landing-left{
            width: 390px;
            height: 30px;
            float: left;
            color: #6c6c6c;
            background-color: @landing-topcolor;
            ul{
                width: 390px;
                li{
                    margin-right: 30px;
                    float: left;
                    a{
                        color: #6c6c6c;
                    }
                }
                .landingl-ulli1{
                    width: 216px;
                }
                .landingl-ulli2{
                    width: 36px;
                }
                .landingl-ulli3{
                    width: 48px;
                }
            }
        }
        .landing-right{
            width: 355px;
            height: 30px;
            float: right;
            ul{
                width: 355px;
                li{
                    float: left;
                    a{
                        color: #6c6c6c;
                        display: block;
                        width: 61px;
                        height: 30px;
                    }
                }
                .landingr-ulli1{
                    position: relative;
                    padding: 0 12px;
                    a{
                        span{
                            width: 48px;
                            float: left;
                        } 
                        i{
                            width: 6px;
                            height: 30px;
                            float: left;
                            margin-left: 7px;
                            background: url(../img/landing/topnav.png) no-repeat 0 -70px;
                        }
                    }
                    .landing-d1{
                        width: 84px;
                        height: 95px;
                        position: absolute;
                        z-index: 1;
                        top: 30px;
                        left: 0;
                        border: 1px solid #e6e6e6;
                        border-top: 0;
                        overflow: hidden;
                        text-align: center;
                        background-color: #fff;
                        display: none;
                        img{
                            width: 80px;
                            height: 80px;
                            margin-top: 5px;
                        }
                    }
                }
                .landingr-ulli2{
                    padding: 0 12px;
                    a{
                        width: 48px;
                        padding-left: 12px;
                        background: url(../img/landing/topnav.png) no-repeat 0 0;
                    }
                }
                .landingr-ulli3{
                    position: relative;
                    padding: 0 12px;
                    a{
                        span{
                            width: 48px;
                            float: left;
                        } 
                        i{
                            width: 6px;
                            height: 30px;
                            float: left;
                            margin-left: 7px;
                            background: url(../img/landing/topnav.png) no-repeat 0 -70px;
                        }
                    }
                    .landing-d2{
                        width: 84px;
                        height: 150px;
                        position: absolute;
                        z-index: 1;
                        top: 30px;
                        left: 0;
                        border: 1px solid #e6e6e6;
                        border-top: 0;
                        overflow: hidden;
                        background-color: #fff;
                        display: none;
                        ol{
                            li{
                                margin-left: 12px;
                            }
                        }
                    }    
                }
                .landingr-ulli4{
                    padding: 0 4px;
                    width: 6px;
                    height: 30px;
                    color: #6c6c6c;
                }
                .landingr-ulli5{
                    position: relative;
                    padding: 0 12px;
                    a{
                        span{
                            width: 48px;
                            float: left;
                        } 
                        i{
                            width: 6px;
                            height: 30px;
                            float: left;
                            margin-left: 7px;
                            background: url(../img/landing/topnav.png) no-repeat 0 -70px;
                        }
                    }
                    .landing-d3{
                        width: 84px;
                        height: 120px;
                        position: absolute;
                        z-index: 1;
                        top: 30px;
                        left: 0;
                        border: 1px solid #e6e6e6;
                        border-top: 0;
                        overflow: hidden;
                        background-color: #fff;
                        display: none;
                        ol{
                            li{
                                margin-left: 12px;
                            }
                        }
                    }    
                }
            }
        }
    }
}
//logo开始
#logo-box{
    width: 100%;
    height: 108px;
    background: #fff;
    .contener1{
        width: 960px;
        height: 108px;
        margin: 0 auto;
        .logo-left{
            width: 260px;
            height: 108px;
            float: left;
        }
        .logo-right{
            width: 452px;
            height: 108px;
            float: right;
        }   
    }
}
//footer开始
#footer-box{
    width: 100%;
    height: 384px;
    background: #fff;
    .footer-top{
        width: 1100px;
        height: 129px;
        margin: 0 auto;
        padding-top: 34px;
        padding-left: 16px;
        margin-bottom: 35px;
        color: #6c6c6c;
        dl{
            float: left;
            margin-left: 19px;
            width: 118px;
            height: 122px;
            dt{
                margin-bottom: 10px;
                font-weight: bold;
                color: #6c6c6c;
            }
            .footer-dt1{
                margin-left: 4px;
            }
            dd{
                height: 24px;
                line-height: 24px;
                a{
                    color: #6C6C6C;
                    img{
                        display: block;
                        width: 103px;
                        height: 103px;
                    }
                }
            }
            .footer-dd1{
                font-weight: bold;
                color: #6c6c6c;
            }
            .footer-dd2{
                a{
                    color: #00C8FF;
                }
            }
        }
    }
    .footer-center{
        width: 100%;
        height: 35px;
        background: #00C8FF;
        ul{
            width: 656px;
            margin: 0 auto;
            li{
                width: 134px;
                height: 35px;
                padding-left: 30px;
                float: left;
                line-height: 35px;
                a{
                    color: #fff;
                    font-weight: bold;
                }
            }
            .footer-center-li1{
                background: url(../img/landing/footer.png) no-repeat 0 0;
            }
            .footer-center-li2{
                background: url(../img/landing/footer.png) no-repeat 0 -35px;
            }
            .footer-center-li3{
                background: url(../img/landing/footer.png) no-repeat 0 -70px;
            }
            .footer-center-li4{
                background: url(../img/landing/footer.png) no-repeat 0 -105px;
            }
        }
    }
    .footer-bottom{
        width: 100%;
        height: 179px;
        margin-top: 26px;
        margin-bottom: 45px;
        p{
            text-align: center;
            color: #6C6C6C;
            font-size: 12px;
        }
        .footer-bottom-p1{
            margin-bottom: 7px;
        }
        .footer-bottom-p2{
            margin-bottom: 20px;
        }
    }
}
//小广告时间
#adlet-box{
    width: 200px;
    height: 176px;
    position: fixed;
    bottom: 0;
    right: 35px;
    background: url(../img/index/下载.png) no-repeat center center;
    display: none;
    .adlet-d{
        width: 200px;
        height: 176px;
        .adlet-d-p{
            width: 18px;
            height: 18px;
            float: right;
            margin-right: 3px;
            margin-top: 3px;
            cursor: pointer;
        }  
        .adlet-d-d{
            width: 140px;
            height: 36px;
            position: relative;
            left:20px;
            top: 140px;
            cursor: pointer;
        }
    }
}
