html,
body {
  font-size: 14px;
}
#landing-box {
  width: 100%;
  height: 30px;
  background-color: #F2F2F2;
  border-bottom: 1px solid #e6e6e6;
}
#landing-box .contener {
  width: 960px;
  height: 30px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 30px;
}
#landing-box .contener .landing-left {
  width: 390px;
  height: 30px;
  float: left;
  color: #6c6c6c;
  background-color: #F2F2F2;
}
#landing-box .contener .landing-left ul {
  width: 390px;
}
#landing-box .contener .landing-left ul li {
  margin-right: 30px;
  float: left;
}
#landing-box .contener .landing-left ul li a {
  color: #6c6c6c;
}
#landing-box .contener .landing-left ul .landingl-ulli1 {
  width: 216px;
}
#landing-box .contener .landing-left ul .landingl-ulli2 {
  width: 36px;
}
#landing-box .contener .landing-left ul .landingl-ulli3 {
  width: 48px;
}
#landing-box .contener .landing-right {
  width: 355px;
  height: 30px;
  float: right;
}
#landing-box .contener .landing-right ul {
  width: 355px;
}
#landing-box .contener .landing-right ul li {
  float: left;
}
#landing-box .contener .landing-right ul li a {
  color: #6c6c6c;
  display: block;
  width: 61px;
  height: 30px;
}
#landing-box .contener .landing-right ul .landingr-ulli1 {
  position: relative;
  padding: 0 12px;
}
#landing-box .contener .landing-right ul .landingr-ulli1 a span {
  width: 48px;
  float: left;
}
#landing-box .contener .landing-right ul .landingr-ulli1 a i {
  width: 6px;
  height: 30px;
  float: left;
  margin-left: 7px;
  background: url(../img/landing/topnav.png) no-repeat 0 -70px;
}
#landing-box .contener .landing-right ul .landingr-ulli1 .landing-d1 {
  width: 84px;
  height: 95px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0;
  border: 1px solid #e6e6e6;
  border-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  display: none;
}
#landing-box .contener .landing-right ul .landingr-ulli1 .landing-d1 img {
  width: 80px;
  height: 80px;
  margin-top: 5px;
}
#landing-box .contener .landing-right ul .landingr-ulli2 {
  padding: 0 12px;
}
#landing-box .contener .landing-right ul .landingr-ulli2 a {
  width: 48px;
  padding-left: 12px;
  background: url(../img/landing/topnav.png) no-repeat 0 0;
}
#landing-box .contener .landing-right ul .landingr-ulli3 {
  position: relative;
  padding: 0 12px;
}
#landing-box .contener .landing-right ul .landingr-ulli3 a span {
  width: 48px;
  float: left;
}
#landing-box .contener .landing-right ul .landingr-ulli3 a i {
  width: 6px;
  height: 30px;
  float: left;
  margin-left: 7px;
  background: url(../img/landing/topnav.png) no-repeat 0 -70px;
}
#landing-box .contener .landing-right ul .landingr-ulli3 .landing-d2 {
  width: 84px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0;
  border: 1px solid #e6e6e6;
  border-top: 0;
  overflow: hidden;
  background-color: #fff;
  display: none;
}
#landing-box .contener .landing-right ul .landingr-ulli3 .landing-d2 ol li {
  margin-left: 12px;
}
#landing-box .contener .landing-right ul .landingr-ulli4 {
  padding: 0 4px;
  width: 6px;
  height: 30px;
  color: #6c6c6c;
}
#landing-box .contener .landing-right ul .landingr-ulli5 {
  position: relative;
  padding: 0 12px;
}
#landing-box .contener .landing-right ul .landingr-ulli5 a span {
  width: 48px;
  float: left;
}
#landing-box .contener .landing-right ul .landingr-ulli5 a i {
  width: 6px;
  height: 30px;
  float: left;
  margin-left: 7px;
  background: url(../img/landing/topnav.png) no-repeat 0 -70px;
}
#landing-box .contener .landing-right ul .landingr-ulli5 .landing-d3 {
  width: 84px;
  height: 120px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0;
  border: 1px solid #e6e6e6;
  border-top: 0;
  overflow: hidden;
  background-color: #fff;
  display: none;
}
#landing-box .contener .landing-right ul .landingr-ulli5 .landing-d3 ol li {
  margin-left: 12px;
}
#logo-box {
  width: 100%;
  height: 108px;
  background: #fff;
}
#logo-box .contener1 {
  width: 960px;
  height: 108px;
  margin: 0 auto;
}
#logo-box .contener1 .logo-left {
  width: 260px;
  height: 108px;
  float: left;
}
#logo-box .contener1 .logo-right {
  width: 452px;
  height: 108px;
  float: right;
}
#footer-box {
  width: 100%;
  height: 384px;
  background: #fff;
}
#footer-box .footer-top {
  width: 1100px;
  height: 129px;
  margin: 0 auto;
  padding-top: 34px;
  padding-left: 16px;
  margin-bottom: 35px;
  color: #6c6c6c;
}
#footer-box .footer-top dl {
  float: left;
  margin-left: 19px;
  width: 118px;
  height: 122px;
}
#footer-box .footer-top dl dt {
  margin-bottom: 10px;
  font-weight: bold;
  color: #6c6c6c;
}
#footer-box .footer-top dl .footer-dt1 {
  margin-left: 4px;
}
#footer-box .footer-top dl dd {
  height: 24px;
  line-height: 24px;
}
#footer-box .footer-top dl dd a {
  color: #6C6C6C;
}
#footer-box .footer-top dl dd a img {
  display: block;
  width: 103px;
  height: 103px;
}
#footer-box .footer-top dl .footer-dd1 {
  font-weight: bold;
  color: #6c6c6c;
}
#footer-box .footer-top dl .footer-dd2 a {
  color: #00C8FF;
}
#footer-box .footer-center {
  width: 100%;
  height: 35px;
  background: #00C8FF;
}
#footer-box .footer-center ul {
  width: 656px;
  margin: 0 auto;
}
#footer-box .footer-center ul li {
  width: 134px;
  height: 35px;
  padding-left: 30px;
  float: left;
  line-height: 35px;
}
#footer-box .footer-center ul li a {
  color: #fff;
  font-weight: bold;
}
#footer-box .footer-center ul .footer-center-li1 {
  background: url(../img/landing/footer.png) no-repeat 0 0;
}
#footer-box .footer-center ul .footer-center-li2 {
  background: url(../img/landing/footer.png) no-repeat 0 -35px;
}
#footer-box .footer-center ul .footer-center-li3 {
  background: url(../img/landing/footer.png) no-repeat 0 -70px;
}
#footer-box .footer-center ul .footer-center-li4 {
  background: url(../img/landing/footer.png) no-repeat 0 -105px;
}
#footer-box .footer-bottom {
  width: 100%;
  height: 179px;
  margin-top: 26px;
  margin-bottom: 45px;
}
#footer-box .footer-bottom p {
  text-align: center;
  color: #6C6C6C;
  font-size: 12px;
}
#footer-box .footer-bottom .footer-bottom-p1 {
  margin-bottom: 7px;
}
#footer-box .footer-bottom .footer-bottom-p2 {
  margin-bottom: 20px;
}
#adlet-box {
  width: 200px;
  height: 176px;
  position: fixed;
  bottom: 0;
  right: 35px;
  background: url(../img/index/下载.png) no-repeat center center;
  display: none;
}
#adlet-box .adlet-d {
  width: 200px;
  height: 176px;
}
#adlet-box .adlet-d .adlet-d-p {
  width: 18px;
  height: 18px;
  float: right;
  margin-right: 3px;
  margin-top: 3px;
  cursor: pointer;
}
#adlet-box .adlet-d .adlet-d-d {
  width: 140px;
  height: 36px;
  position: relative;
  left: 20px;
  top: 140px;
  cursor: pointer;
}
/*# sourceMappingURL=common.css.map */
